.kinopoliten__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialised;
    font-size: 16px;
    text-align: center;
    background: #ffffff;
    z-index: 9999;
}
.kinopoliten__logo-vmetro {
    max-width: 140px;
    margin: 0 auto 30px auto;
}
.kinopoliten__text-title {
    font-size: 2.28875em;
    font-weight: bold;
}
.kinopoliten__text-slogan {
    font-size: 1.40125em;
    padding: 5px 0;
}
.kinopoliten__poster {
    display: block;
    width: 100%;
    max-width: 597px;
    margin: 50px auto;
}
.kinopoliten__app-buttons {
    font-size: 0;
    line-height: 0;
    padding-bottom: 30px;
}

.kinopoliten__app-button {
    max-width: 250px;
}

.kinopoliten__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 30px;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

/*
 *
 *
 MEDIA QUERIES
 *
 *
 */
@media only screen and (min-device-height: 480px) and (max-device-width: 414px) {
    .kinopoliten__wrapper {
        padding: 10px;
        font-size: 9px;
    }

    .kinopoliten__logo-vmetro {
        width: 20%;
        margin: 0 auto 10px auto;
    }

    .kinopoliten__poster {
        width: 65%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 40%;
    }
}

@media only screen and (min-device-height: 568px) and (max-device-width: 414px) {
    .kinopoliten__wrapper {
        padding: 10px;
        font-size: 10px;
    }

    .kinopoliten__logo-vmetro {
        width: 20%;
        margin: 0 auto 10px auto;
    }

    .kinopoliten__poster {
        width: 65%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 50%;
    }
}

@media only screen and (min-device-height: 667px) and (max-device-width: 414px) {
    .kinopoliten__wrapper {
        padding: 10px;
        font-size: 11px;
    }

    .kinopoliten__logo-vmetro {
        width: 25%;
        margin: 0 auto 10px auto;
    }

    .kinopoliten__poster {
        width: 80%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 50%;
    }
}

@media only screen and (min-device-height: 736px) and (max-device-width: 414px) {
    .kinopoliten__wrapper {
        padding: 10px;
        font-size: 12px;
    }

    .kinopoliten__logo-vmetro {
        width: 25%;
        margin: 0 auto 10px auto;
    }

    .kinopoliten__poster {
        width: 80%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 50%;
    }
}

@media screen and (max-device-width: 736px) {
    .kinopoliten__close-icon {
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 23px;
        font-size: 15px;
        border: 1px solid #ccc;
        color: #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media only screen and (orientation : landscape) and (max-device-width: 736px) {

    .kinopoliten__logo-vmetro {
        width: 37%;
    }

    .kinopoliten__wrapper {
        font-size: 9px;
    }

    .kinopoliten__text-block {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }

    .kinopoliten__poster {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 30%;
        margin-top: 20px;
    }
}

@media only screen and (min-device-width: 600px) {

    .kinopoliten__logo-vmetro {
        width: 40%;
    }

    .kinopoliten__wrapper {
        font-size: 12px;
    }

    .kinopoliten__text-block {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .kinopoliten__poster {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        margin: 10px auto;
    }

    .kinopoliten__app-button {
        width: 25%;
        margin-top: 20px;
    }
}